/* ============================= */
/*      SOFT-FIT GLOBAL CSS      */
/* ============================= */

:root{

    --color-principal:#9d4edd;
    --color-secundario:#7b2cbf;

    --color-fondo:#14141b;

    --color-card:#1c1c24;

    --color-borde:rgba(255,255,255,.08);

    --color-texto:#ffffff;

    --color-gris:#a6a6a6;

    --radio:18px;

    --sombra:
        0 20px 50px rgba(0,0,0,.45);

    --transicion:.30s;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:'Segoe UI',sans-serif;

    background:var(--color-fondo);

    color:white;

}

h1,h2,h3{

    font-weight:700;

}

button{

    transition:var(--transicion);

}

input{

    transition:var(--transicion);

}

a{

    text-decoration:none;

}